In [4]:
import pandas as pd
from datetime import datetime, timedelta

In [5]:
df = pd.read_csv(r"/mdfsvc/fep/log/Smart/OSMT_0x33-3.csv", lineterminator='\n', index_col='Date')

In [9]:
"""
특정 Symbol 필터링
"""
###############################
# 원하는 Symbol명을 입력하세요. #
i_want_to_find = "SPY"
###############################

result_table = df[df['Symbol'].str.contains(i_want_to_find)]
result_table.head(10)

,Time,Message Type,Locate Code,Country Code,Currecny Code,MIC,Product Type,Symbol Length,Symbol,Root Symbol,Put/Call,Expiration Date,Strike Price,Parent Locate Code,Raw Data
Date,,,,,,,,,,,,,,,
02/07,16:53:11,0x33,265,US,USD,,1,3,SPY,NaN,NaN,0,0.0,0,33 00 00 01 09 55 53 55 53 44 20 20 20 20 01 0...
02/07,16:53:11,0x33,266,US,USD,,23,4,1SPY,NaN,NaN,0,0.0,265,33 00 00 01 0A 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:53:11,0x33,1265,US,USD,,23,4,2SPY,NaN,NaN,0,0.0,265,33 00 00 04 F1 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:53:11,0x33,1455,US,USD,,23,4,3SPY,NaN,NaN,0,0.0,265,33 00 00 05 AF 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:53:11,0x33,1482,US,USD,,23,4,4SPY,NaN,NaN,0,0.0,265,33 00 00 05 CA 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:53:11,0x33,6091,US,USD,,1,4,GSPY,NaN,NaN,0,0.0,0,33 00 00 17 CB 55 53 55 53 44 20 20 20 20 01 0...
02/07,16:53:11,0x33,6092,US,USD,,23,4,GSPY,NaN,NaN,0,0.0,6091,33 00 00 17 CC 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:53:12,0x33,11004,US,USD,,23,3,SPY,NaN,NaN,0,0.0,265,33 00 00 2A FC 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:53:12,0x33,11005,US,USD,,1,4,SPYD,NaN,NaN,0,0.0,0,33 00 00 2A FD 55 53 55 53 44 20 20 20 20 01 0...
02/07,16:53:12,0x33,11006,US,USD,,23,4,SPYD,NaN,NaN,0,0.0,11005,33 00 00 2A FE 55 53 55 53 44 20 20 20 20 17 0...

In [7]:
unique_codes = df['Locate Code'].unique()
unique_codes
result_tables = {}

for code in unique_codes:
     result_tables[code] = df[(df['Locate Code'] == code) | (df['Parent Locate Code'] == code)]

In [8]:
"""
특정 Code를 가진 종목 모두 확인하기
"""
########################################
# 원하는 Parente Locate Code를 입력하세요.
i_want_to_find = 1
########################################

result_tables[i_want_to_find]

,Time,Message Type,Locate Code,Country Code,Currecny Code,MIC,Product Type,Symbol Length,Symbol,Root Symbol,Put/Call,Expiration Date,Strike Price,Parent Locate Code,Raw Data
Date,,,,,,,,,,,,,,,
02/07,16:53:11,0x33,1,US,USD,,1,4,AAPL,NaN,NaN,0,0.0,0,33 00 00 00 01 55 53 55 53 44 20 20 20 20 01 0...
02/07,16:53:11,0x33,2,US,USD,,23,5,1AAPL,NaN,NaN,0,0.0,1,33 00 00 00 02 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:53:11,0x33,335,US,USD,,23,5,2AAPL,NaN,NaN,0,0.0,1,33 00 00 01 4F 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:53:11,0x33,1662,US,USD,,23,4,AAPL,NaN,NaN,0,0.0,1,33 00 00 06 7E 55 53 55 53 44 20 20 20 20 17 0...
02/07,16:56:54,0x33,1,US,USD,,1,4,AAPL,NaN,NaN,0,0.0,0,33 00 00 00 01 55 53 55 53 44 20 20 20 20 01 0...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02/07,21:09:34,0x33,1454,US,USD,,23,4,AAL1,NaN,NaN,0,0.0,1,33 00 00 05 AE 55 53 55 53 44 20 20 20 20 17 0...
02/07,21:09:44,0x33,1,US,USD,,1,3,AAL,NaN,NaN,0,0.0,0,33 00 00 00 01 55 53 55 53 44 20 20 20 20 01 0...
02/07,21:09:44,0x33,2,US,USD,,23,4,1AAL,NaN,NaN,0,0.0,1,33 00 00 00 02 55 53 55 53 44 20 20 20 20 17 0...
02/07,21:09:44,0x33,1453,US,USD,,23,3,AAL,NaN,NaN,0,0.0,1,33 00 00 05 AD 55 53 55 53 44 20 20 20 20 17 0...
02/07,21:09:44,0x33,1454,US,USD,,23,4,AAL1,NaN,NaN,0,0.0,1,33 00 00 05 AE 55 53 55 53 44 20 20 20 20 17 0...