In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df = pd.read_csv(r"../NasdaqSMT_Csv/OSMT_0x33-4.csv", lineterminator='\n', index_col='Date')

In [7]:
"""
특정 Symbol 필터링
"""
###############################
# 원하는 Symbol명을 입력하세요. #
i_want_to_find = "AMZN"
###############################

result_table = df[df['Symbol'].str.contains(i_want_to_find)]
result_table.head(10)

,Time,Message Type,Locate Code,Country Code,Currecny Code,MIC,Product Type,Symbol Length,Symbol,Root Symbol,Put/Call,Expiration Date,Strike Price,Parent Locate Code,Raw Data
Date,,,,,,,,,,,,,,,
02/01,13:19:14,0x33,9,US,USD,,1,4,AMZN,NaN,NaN,0,0.0,0,33 00 00 00 09 55 53 55 53 44 20 20 20 20 01 0...
02/01,13:19:14,0x33,10,US,USD,,23,5,1AMZN,NaN,NaN,0,0.0,9,33 00 00 00 0A 55 53 55 53 44 20 20 20 20 17 0...
02/01,13:19:14,0x33,356,US,USD,,23,5,2AMZN,NaN,NaN,0,0.0,9,33 00 00 01 64 55 53 55 53 44 20 20 20 20 17 0...
02/01,13:19:14,0x33,1822,US,USD,,23,4,AMZN,NaN,NaN,0,0.0,9,33 00 00 07 1E 55 53 55 53 44 20 20 20 20 17 0...
02/01,13:19:14,0x33,9654,,,,2,19,AMZN201016C02535000,AMZN,C,20211016,2535.0,1822,33 00 00 25 B6 20 20 20 20 20 20 20 20 20 02 1...
02/01,13:19:14,0x33,9655,,,,2,19,AMZN201016C02665000,AMZN,C,20211016,2665.0,1822,33 00 00 25 B7 20 20 20 20 20 20 20 20 20 02 1...
02/01,13:19:14,0x33,9656,,,,2,19,AMZN201016C02635000,AMZN,C,20211016,2635.0,1822,33 00 00 25 B8 20 20 20 20 20 20 20 20 20 02 1...
02/01,13:19:14,0x33,9657,,,,2,19,AMZN200807C02100000,AMZN,C,20210807,2100.0,1822,33 00 00 25 B9 20 20 20 20 20 20 20 20 20 02 1...
02/01,13:19:14,0x33,9658,,,,2,19,AMZN200807C02860000,AMZN,C,20210807,2860.0,1822,33 00 00 25 BA 20 20 20 20 20 20 20 20 20 02 1...
02/01,13:19:14,0x33,9659,,,,2,19,AMZN200807C02825000,AMZN,C,20210807,2825.0,1822,33 00 00 25 BB 20 20 20 20 20 20 20 20 20 02 1...

In [4]:
unique_codes = df['Locate Code'].unique()
unique_codes
result_tables = {}

for code in unique_codes:
     result_tables[code] = df[(df['Locate Code'] == code) | (df['Parent Locate Code'] == code)]

In [5]:
"""
특정 Code를 가진 종목 모두 확인하기
"""
########################################
# 원하는 Parente Locate Code를 입력하세요.
i_want_to_find = 1
########################################

result_tables[i_want_to_find]

,Time,Message Type,Locate Code,Country Code,Currecny Code,MIC,Product Type,Symbol Length,Symbol,Root Symbol,Put/Call,Expiration Date,Strike Price,Parent Locate Code,Raw Data
Date,,,,,,,,,,,,,,,
02/01,13:19:14,0x33,1,US,USD,,1,3,AAL,NaN,NaN,0,0.0,0,33 00 00 00 01 55 53 55 53 44 20 20 20 20 01 0...
02/01,13:19:14,0x33,2,US,USD,,23,4,1AAL,NaN,NaN,0,0.0,1,33 00 00 00 02 55 53 55 53 44 20 20 20 20 17 0...
02/01,13:19:14,0x33,1453,US,USD,,23,3,AAL,NaN,NaN,0,0.0,1,33 00 00 05 AD 55 53 55 53 44 20 20 20 20 17 0...
02/01,13:19:14,0x33,1454,US,USD,,23,4,AAL1,NaN,NaN,0,0.0,1,33 00 00 05 AE 55 53 55 53 44 20 20 20 20 17 0...