In [25]:
import pandas as pd
from datetime import datetime, timedelta

In [26]:
df = pd.read_csv(r"/mdfsvc/fep/log/Smart/OSMT_0x33-3.csv", lineterminator='\n', index_col='Date')

In [31]:
"""
특정 Symbol 필터링
"""
###############################
# 원하는 Symbol명을 입력하세요. #
i_want_to_find = ""
###############################

result_table = df[df['Symbol'].str.contains(i_want_to_find)]
result_table

,Time,Message Type,Locate Code,Country Code,Currecny Code,MIC,Product Type,Symbol Length,Symbol,Root Symbol,Put/Call,Expiration Date,Strike Price,Parent Locate Code,Raw Data
Date,,,,,,,,,,,,,,,
02/14,09:43:13,0x33,1,US,USD,,1,4,AAPL,NaN,NaN,0,0.0,0,33 00 00 00 01 55 53 55 53 44 20 20 20 20 01 0...
02/14,09:43:13,0x33,2,US,USD,,23,5,1AAPL,NaN,NaN,0,0.0,1,33 00 00 00 02 55 53 55 53 44 20 20 20 20 17 0...
02/14,09:43:13,0x33,3,US,USD,,1,4,ABBV,NaN,NaN,0,0.0,0,33 00 00 00 03 55 53 55 53 44 20 20 20 20 01 0...
02/14,09:43:13,0x33,4,US,USD,,23,5,1ABBV,NaN,NaN,0,0.0,3,33 00 00 00 04 55 53 55 53 44 20 20 20 20 17 0...
02/14,09:43:13,0x33,5,US,USD,,1,4,ABNB,NaN,NaN,0,0.0,0,33 00 00 00 05 55 53 55 53 44 20 20 20 20 01 0...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02/14,09:43:13,0x33,13938,,,,2,18,SPY240731C00467000,SPY,C,20250731,467.0,11004,33 00 00 36 72 20 20 20 20 20 20 20 20 20 02 1...
02/14,09:43:13,0x33,13939,,,,2,18,SPY240731C00448000,SPY,C,20250731,448.0,11004,33 00 00 36 73 20 20 20 20 20 20 20 20 20 02 1...
02/14,09:43:13,0x33,13940,,,,2,18,SPY240719C00285000,SPY,C,20250719,285.0,11004,33 00 00 36 74 20 20 20 20 20 20 20 20 20 02 1...
02/14,09:43:13,0x33,13941,,,,2,18,SPY240531C00565000,SPY,C,20250531,565.0,11004,33 00 00 36 75 20 20 20 20 20 20 20 20 20 02 1...
02/14,09:43:13,0x33,13942,,,,2,18,SPY240731C00595000,SPY,C,20250731,595.0,11004,33 00 00 36 76 20 20 20 20 20 20 20 20 20 02 1...

In [28]:
unique_codes = df['Locate Code'].unique()
unique_codes
result_tables = {}

for code in unique_codes:
     result_tables[code] = df[(df['Locate Code'] == code) | (df['Parent Locate Code'] == code)]

In [29]:
"""
특정 Code를 가진 종목 모두 확인하기
"""
########################################
# 원하는 Parente Locate Code를 입력하세요.
i_want_to_find = 1821
########################################

result_tables[i_want_to_find]

,Time,Message Type,Locate Code,Country Code,Currecny Code,MIC,Product Type,Symbol Length,Symbol,Root Symbol,Put/Call,Expiration Date,Strike Price,Parent Locate Code,Raw Data
Date,,,,,,,,,,,,,,,
02/14,09:43:13,0x33,1821,US,USD,,1,3,AEO,NaN,NaN,0,0.0,0,33 00 00 07 1D 55 53 55 53 44 20 20 20 20 01 0...
02/14,09:43:13,0x33,1822,US,USD,,23,3,AEO,NaN,NaN,0,0.0,1821,33 00 00 07 1E 55 53 55 53 44 20 20 20 20 17 0...