In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv(r"../NasdaqSMT_Csv/OSMT_0x20-4.csv", lineterminator='\n', index_col='Date')

In [3]:
"""
타임스탬프 변환 파트
"""

def convert_to_datetime(nano_seconds):
    """
    Convert nanoseconds to seconds and then to a datetime object.
    """
    seconds = nano_seconds / 1e9
    return datetime.fromtimestamp(seconds)

df["Datetime"] = df["Timestamp"].apply(convert_to_datetime)
df["Timestamp(Convert)"] = df["Datetime"].apply(lambda x: x.strftime('%H:%M:%S'))
df = df[['Time', 'Message Type', 'Timestamp', 'Timestamp(Convert)', 'Event Code', 'Raw Data']]
df

,Time,Message Type,Timestamp,Timestamp(Convert),Event Code,Raw Data
Date,,,,,,
02/01,13:19:14,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/01,16:25:19,0x20,70200000023022,04:30:00,*EOM,20 00 00 3F D8 B6 10 89 EE 2A 45 4F 4D