In [1]:
import pandas as pd
from datetime import datetime, timedelta

/tmp/ipykernel_171886/2883196732.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = pd.read_csv(r"/mdfsvc/fep/log/Smart/OSMT_0x20-3.csv", lineterminator='\n', index_col='Date')

In [3]:
"""
타임스탬프 변환 파트
"""

def convert_to_datetime(nano_seconds):
    """
    Convert nanoseconds to seconds and then to a datetime object.
    """
    seconds = nano_seconds / 1e9
    return datetime.fromtimestamp(seconds)

df["Datetime"] = df["Timestamp"].apply(convert_to_datetime)
df["Timestamp(Convert)"] = df["Datetime"].apply(lambda x: x.strftime('%H:%M:%S'))
df = df[['Time', 'Message Type', 'Timestamp', 'Timestamp(Convert)', 'Event Code', 'Raw Data']]
df

,Time,Message Type,Timestamp,Timestamp(Convert),Event Code,Raw Data
Date,,,,,,
02/07,16:53:11,0x20,1056258075650,09:17:36,*NUL,20 00 00 00 F5 ED E3 2C 02 2A 4E 55 4C
02/07,16:56:54,0x20,1056258075650,09:17:36,*NUL,20 00 00 00 F5 ED E3 2C 02 2A 4E 55 4C
02/07,16:58:41,0x20,1056258075650,09:17:36,*NUL,20 00 00 00 F5 ED E3 2C 02 2A 4E 55 4C
02/07,17:00:04,0x20,1056258075650,09:17:36,*NUL,20 00 00 00 F5 ED E3 2C 02 2A 4E 55 4C
02/07,20:01:47,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:19:45,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:20:54,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:26:28,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:28:34,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:30:03,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:31:37,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:36:19,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:45:52,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:47:06,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:48:58,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:49:43,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:58:05,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,20:58:17,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:00:17,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:00:33,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:00:36,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:04:46,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:04:54,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:05:06,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:06:37,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:09:34,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C
02/07,21:09:44,0x20,195019997022,09:03:15,*NUL,20 00 00 00 2D 68 18 FF 5E 2A 4E 55 4C